
<h2>L'équipe marketing</h2>
<button type="button" class="btn btn-warning btn-round mybutton" style="float:right" (click)="adduser()"  ><i class="fas fa-user-plus"></i> Ajouter un membre</button>

<input type="text" id="myInput" onkeyup="myFunction()" placeholder="Rehercher par nom..." title="Type in a name">

<table id="myTable">
  <tr class="header">
    <th style="width:40%;">Nom</th>
    <th style="width:40%;">Email</th>
    <th style="width:20%;">Supprimer</th>
  </tr>
  <tr>
    <td>Nouha</td>
    <td>nouha.lamine@sofrecom.com</td>
    <td><a><i class="fas fa-user-times"></i></a></td>
  </tr>
  <tr>
    <td>Anis</td>
    <td>anis.tajouri@sofrecom.com</td>
    <td><a><i class="fas fa-user-times"></i></a></td>
  </tr>
  <tr>
    <td>Sana</td>
    <td>sana.znaidi@sofrecom.com</td>
    <td><a><i class="fas fa-user-times"></i></a></td>
  </tr>
  <tr>
        <td>Amine</td>
        <td>amine.hamdi@sofrecom.com</td>
        <td><a><i class="fas fa-user-times"></i></a></td>
      </tr>
  <tr>
    <td>Aida</td>
    <td>aida.souidi@sofrecom.com</td>
    <td><a><i class="fas fa-user-times"></i></a></td>
  </tr>
  <tr>
        <td>fadwa</td>
        <td>fadwa.baccouche@sofrecom.com</td>
        <td><a><i class="fas fa-user-times"></i></a></td>
      </tr>

</table>

