<div class="main-content">
        <div class="container-fluid">
          <div class="card">
              <div class="card-header" data-background-color="orange">
                  <h4 class="title">Profiles</h4>
                  <p class="category"><a target="_blank" href="https://github.com/mouse0270"></a></p>
              </div>
              <div class="card-content">
                  <div class="row">
                     
                        
      
                          <app-barchart [barChartLabels]="barChartLabels1" [barChartData]="barChartData1"></app-barchart>
                       
                         
                         
      
      
                    
                    
                
      
      
                 
              </div>
          </div>
        
      
      
      </div>
      