
<div class="container">
        <form action="/action_page.php">
          <div class="row">
            <div class="col-25">
              <label for="password">Mot de passe actuel</label>
            </div>
            <div class="col-75">
              <input type="password" id="fname" name="firstname" placeholder="Mot de passe actuel">
            </div>
          </div>
          <div class="row">
            <div class="col-25">
              <label for="nouveaupassword">Nouveau mot de passe</label>
            </div>
            <div class="col-75">
              <input type="password" id="lname" name="lastname" placeholder="Nouveau mot de passe">
            </div>
          </div>
          <div class="row">
                <div class="col-25">
                  <label for="confirmpassword">Confirmer mot de passe</label>
                </div>
                <div class="col-75">
                  <input type="password" id="lname" name="lastname" placeholder="Confirmer mot de passe">
                </div>
              </div>
          <div class="row">
                <button type="submit" class="btn btn-warning btn-round mybutton" style="float:right" (click)="adduser()"  ><i class="fas fa-angle-right"></i> Rénitialiser</button>

          </div>
        </form>
      </div>