<footer>
    <div class="container-fluid">
        <nav class="pull-left">
            <ul>
                <li>
                    <a href="https://www.118712.fr/">
                        118712.fr
                    </a>
                </li>
                <li>
                    <a href="https://play.google.com/store/apps/details?id=com.orange.app118712&hl=fr">
                        118712 mobile
                    </a>
                </li>
               
            </ul>
        </nav>
        <p class="copyright pull-right">
            &copy; {{test | date: 'yyyy'}} <a href="https://www.sofrecom.com/fr/">Sofrecom</a>, the Know How Network
        </p>
    </div>
</footer>
